- content_for :head do
  %title Completed Projects

%h1 blah blah complted

%a{:href => "http://placehold.it/600x400", :rel => "lightbox", :title => "Beautiful, isn't it?"}
  %img{:src => "http://placehold.it/240x100" }/
