- content_for :head do
  %title Completed Proj
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/


#main
  .section-head
    %h2 Completed Projects

  %ul
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
