- content_for :head do
  %title Completed Projects | Arbor Wood Products
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/


#main
  .section-head
    %h2 Completed Projects

  :markdown
    Arbor Wood Products is very proud of the pole barn kits that we produce. We wanted to give you a chance to see some of our completed projects.

    Our pole barn kits are designed to be one of the strongest products on the market. We use a standard 6×6 pressure treated post anchored with 80lbs of concrete and notched at the top so that our double 2×12 beams will sit directly on the post. The double 2×12 beam is then bolted to the post using two carriage bolts for each post.

    We use engineered roof trusses attached to the double 2×12 beams with Simpson truss to beam connectors (hurricane clips) using special high strength shear resistant nails. The trusses are stripped 2×4 roof purlins every 2' on center and attached using ring shank nails to increase the holding strength in high wind situations. Arbor Wood Products uses 29 gauge painted metal which is screwed to the 2×4 roof purlins using 1" matching screws. Arbor Wood Products also attaches the two bottom roof purlins to the engineered trusses using hurricane clips to increase the stability of the building and greatly lower the chance of high wind damage to the building's roof.

  %ul.gallery
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/

  :markdown
    Arbor Wood Products has developed many post frame kits including [pole barns](/available-kits/barn-roof/), [enclosed barns](/available-kits/enclosed-barn/), hay barns (with or without lofts), [horse barns](/available-kits/horse-barn-roof/), [garages](/available-kits/garage/), [storage buildings](/available-kits/enclosed-barn/), warehouses, [RV storage buildings](/available-kits/rv-storage-enclosed-roof/), [RV covers](/available-kits/rv-storage-barn-roof/), and even [airplane hangers](/available-kits/airplane-hanger/). We invite you to take a look at our available kits or if you already have a particular kit in mind please call us for a quote or you can email us a question or request a quote from our [Contact Page](/contact-us/).
