- content_for :head do
  %title Completed Proj
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/


#main

  %h1 blah blah complted

  %ul
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x100" }/
