- content_for :head do
  %title default
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/

#main
  .section-head
    %h2 Metal Color Options

  %p When deciding on your metal roof color it will be easy to choose a color for your metal roof panels from Arbor Wood Product’s 17 standard metal roof colors.

  %p Arbor Wood Products metal roof panels have a 25 year warrantee on the paint to guarantee that your metal roof color will continue enhance the appearance of your Arbor Wood pole barn for many years to come. Arbor Wood Products understands that a metal roofing color can be as unique as the type of person installing a pole barn kit. To satisfy that distinct taste Arbor Wood Products offers several special order metal roof colors as an optional upgrade.

  %ul.gallery
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
    %li
      %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
        %img{:src => "http://placehold.it/240x150" }/
