%footer
  Site development by 
  %a{:href => "http://benjamincharity.com", :title => "Front-end mobile & web development"} Benjamin Charity 
  Copyright &copy; 2012 
  %a{:href => "http://arborwoodofatlanta.com"} Arbor Wood Products
