%nav
  %ul
    %li 
      %a{:href => "/"} Home
    %li
      %a{:href => "/available-kits/"} Available Kits
    %li
      %a{:href => "/kit-materials/"} Kit Materials
    %li
      %a{:href => "/installation-process/"} Installation Process
    %li
      %a{:href => "/metal-color-options/"} Metal Colors
    %li
      %a{:href => "/installation-manual/"} Installation Manual
    %li
      %a{:href => "/completed-projects/"} Completed Projects
    %li
      %a{:href => "/contact-us/"} Contact
