%article.popular
  %h1 Popular Kits
  %ul
    %li
      %a{:href => "#"}
        %img{:src => "http://placehold.it/400x214"}/
    %li
      %a{:href => "#"}
        %img{:src => "http://placehold.it/400x214"}/
    %li
      %a{:href => "#"}
        %img{:src => "http://placehold.it/400x214"}/
    %li
      %a{:href => "#"}
        %img{:src => "http://placehold.it/400x214"}/
