%article.quick-links
  %h1 Quick Links
  %ul
    %li
      %a{:href => "#"} Contact us
    %li
      %a{:href => "#"} Metal colors
    %li
      %a{:href => "#"} Completed projects
    %li
      %a{:href => "#"} What materials are in the kit?
