.flexslider
  %ul.slides
    %li
      %img{:src => "http://placehold.it/800x600/40663C"}/
    %li
      %img{:src => "http://placehold.it/800x600/66351C"}/
    %li
      %img{:src => "http://placehold.it/800x600/353666"}/
