- content_for :head do
  %title About Us | Arbor Wood Products
  %meta{:name => "description", :content => "Arbor Wood Products is a company that was started in the Atlanta, Georgia area to supply home and farm owners with building kits for barns and storage buildings"}/
  %meta{:name => "keywords", :content => "arbor wood, arbor wood products, about us, about"}/

#main
  :markdown
    Arbor Wood Products is a company that was started in the Atlanta, Georgia area to supply home and farm owners with building kits for barns and storage buildings.  David Charity, the owner of Arbor Wood Products, comes from a background of construction beginning as a teenager working with his dad, framing homes and building barns in the horse country of Ocala, Florida. David has owned his own framing company, running multiple crews, framing all types of buildings, including barns, homes, commercial buildings and apartment buildings.  He was also a licensed contractor and home builder for a number of years while living in Florida.  David has used a lifetime of building experience to develop building kits that are simple to install, strong enough to outlast those of the competition and have an appearance that produces pride.

    ![David Charity, the owner of Arbor Wood Products](/cdn/to/img.jpg)

    The types of building kits that Arbor wood products offers expanded almost immediately to include building kits for [pole barns](/available-kits/barn-roof/), [storage buildings](/available-kits/enclosed-barn/), [garages](/available-kits/garage/), [pavilions](/available-kits/barn-roof/), [horse barns](/available-kits/horse-barn-roof/), [hay barns](/available-kits/horse-barn-roof/), [airplane hangers](/available-kits/airplane-hanger/), and [RV storage buildings](/available-kits/rv-storage-enclosed-barn/).  Arbor Wood building kits include all the materials needed, from the concrete for the posts to the ridge cap for the roof, to construct whatever size building the customer orders.  Arbor Wood Products not only delivers the kit, but also supplies an easy to understand [installation manual](/installation-manual/) that explains in detail, using both words and illustration, the entire [installation process](/installation-process/) in a way that anyone with a minimal knowledge of carpentry tools and their use will be able to utilize.

    Arbor Wood Products also launched an installation division of the company to install the kits for those customers who want the building kits installed for them. Our crews are experienced post frame building installers who know the importance of quality work and customer service. They make customer satisfaction the highest priority during the construction process as well as with the final product.

    ![Arbor Wood Products Delivery Truck](/cdn/to/img.jpg)

    Arbor Wood Products always strives for total customer satisfaction.  We believe that if we put the customer first by offering quality, reasonable price, and dependability, then success will follow.
