$default-transition-duration: 0.2s
$default-transition-function: ease-in-out

$default-box-shadow-color: #333
$default-box-shadow-h-offset: 0px
$default-box-shadow-v-offset: 0px
$default-box-shadow-blur: 8px
$default-box-shadow-spread: 0

$default-border-radius: 4px

// fonts
$franchise: franchise, arial, sans-serif
$fanwood:  fanwood, georgia, serif

// colors
$dgray: #333
$gray:  #666
$lgray: #999
$light: #e4e4e4
$white: #fafafa
$red:   #740019
