// setup
@import "reset", "compass", "defaults", "fonts"

// pages
@import "index", "primary-page", "kit-page", "pages/completed-projects", "pages/metal-color-options", "pages/available-kits"

// partials
@import "partials/header", "partials/nav", "partials/footer", "partials/signup", "partials/quick-links", "partials/materials", "partials/popular", "partials/gallery"

// plugins
@import "slimbox"




img
  // allows centering margins to work
  display: block
  margin: 0 auto
  // dynamic image width but never distorted
  max-width: 100%

html
  background: $white url("/i/bg-linen.png") center repeat
  color: $dgray
  font-family: $fanwood
  font-size: 10px
  height: 100%
  line-height: 1em
  width: 100%

  a:link, a:visited
    color: $dgray
    line-height: 1em

    &:hover, &:active
      color: $red

body
  // help smooth out web fonts
  -webkit-font-smoothing: antialiased

p
  line-height: 1.1em
  margin-top: 18px

// fancy horizontal rule
hr
  border: none
  border-top: medium double #333
  color: #333
  margin: 40px
  padding: 0
  text-align: center

  // fancy symbol
  &:after
    content: "\A7"
    display: inline-block
    position: relative
    top: -0.5em
    font-size: 1.2em
    padding: 0 0.25em


// main content section of site (between header and footer)
#main
  overflow: hidden
  color: $gray
  font-family: $fanwood
  font-size: 1.2em
  margin-top: 10px
  overflow: hidden
  padding: 0 1%

  // smaller title below site name on each page
  .section-head
    margin-bottom: 40px
    text-align: center

    h2
      font-family: $fanwood
      font-size: 1.2em
      margin-bottom: 6px
      text-transform: uppercase

    p
      font-style: italic
      font-size: .9em

  h1
    font-weight: 100
    line-height: 1em

  aside
    float: left
    font-size: 1.2em
    width: 45%

    & > article
      border-bottom: 1px solid $lgray
      margin-bottom: 20px
      padding-bottom: 20px

    ul
      font-style: italic
      line-height: 1.2em
      margin-left: 12px




// support
@import "media-queries", "hacks"
