- content_for :head do
  %title Privacy Policy | Arbor Wood Products
  %meta{:name => "description", :content => "View the Arbor Wood Products privacy policy concerning our policies on cookies, information collection, subscriptions, and security."}/
  %meta{:name => "keywords", :content => "privacy policy, privacy, site security"}/

#main
  .section-head
    %h2 Privacy Policy

  :markdown
    This is the web site of Arbor Wood Products.

    Our postal address is 1476 Possum Hollow Rd SE Ranger, GA 30734

    We can be reached via e-mail at <mailto:david@arborwoodofatlanta.com> or you can reach us by telephone at 678-431-3122.

    For each visitor to our Web page, our Web server automatically recognizes the consumer’s domain name and e-mail address (where possible). We collect:

    1. the domain name and e-mail address (where possible) of visitors to our Web page
    2. the e-mail addresses of those who post messages to our bulletin board
    3. the e-mail addresses of those who communicate with us via e-mail
    4. the e-mail addresses of those who make postings to our chat areas
    5. aggregate information on what pages consumers access or visit
    6. user-specific information on what pages consumers access or visit
    7. information volunteered by the consumer, such as survey information and/or site registrations, name and address, telephone number, payment information (e.g., credit card number and billing address).

    The information we collect is used to improve the content of our Web page, used to notify consumers about updates to our web site, disclosed when legally required to do so, at the request of governmental authorities conducting an investigation, to verify or enforce compliance with the policies governing our Website and applicable laws or to protect against misuse or unauthorized use of our Website.

    With respect to cookies: We use cookies to store visitors preferences, record session information, such as items that consumers add to their shopping cart, record user-specific information on what pages users access or visit.

    If you do not want to receive e-mail from us in the future, please let us know by unsubscribing here: unsubscribe. If you supply us with your postal address on-line you will only receive the information for which you provided us your address. Persons who supply us with their telephone numbers on-line will only receive telephone contact from us with information regarding orders they have placed on-line.

    From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice.   If our information practices change at some time in the future we will contact you before we use your data for these new purposes to notify you of the policy change and to provide you with the ability to opt out of these new uses.

    Upon request we provide site visitors with access to all information [including proprietary information] that we maintain about them.   Consumers can request access to this information by visiting us here: [Contact Us](/contact-us/). Upon request we offer visitors the ability to have inaccuracies corrected in their information. Consumers can have this information corrected by  visiting us here: [Contact Us](/contact-us/).

    With respect to security: We have appropriate security measures in place in our physical facilities to protect against the loss, misuse or alteration of information that we have collected from you at our site. If you feel that this site is not following its stated information policy, you may contact us at the above addresses or phone number.


