- content_for :head do
  %title Barn Roof Kits | Arbor Wood Products
  -#%meta{:name => "description", :content => "Arbor Wood Products pole barn roof kits are available in a number of sizes, to fit any need. With our barn roof design, you can choose your metal color from the many colors available.pole barn roof kit, pole barn roof, barn roof design"}/
  -#%meta{:name => "keywords", :content => "pole barn roof kit, pole barn roof, barn roof design"}/


:markdown
  Arbor Wood Products pole barn roof kits are available in a number of sizes, which are listed below. We have standard widths and lengths of kits prefigured for both price and material, but we can customize a roof kit in width, length or ceiling height, to accommodate your particular need.

%img{:src => "http://placehold.it/800x600/40663C", :alt => "alt_text"}/

:markdown
  The pole barn roof kit includes all the material to build the barn style shown above, in the specific size that you order. You will have the option to choose your metal color from the many colors available on the chart included on the web site.

  All non-enclosed kits are designed with 6 x 6 pressure treated posts with at least 20% of the exposed post length in the ground. Each post is secured with 80 lbs of concrete. All pole barn roof kits will have pressure treated 2 x 6 wind braces and pressure treated 2 x10 or 2 x12 beam material, depending on the barn width. Beams are notched into the posts and secured by carriage bolts to give the maximum strength possible. All of our building kits use engineered roof trusses made of southern yellow pine, which meets building code requirements anywhere in the U.S., and are stripped with 2 x 4 roof purlins every 2’. We also provide 29 ga painted metal and the matching screws, with a minimum of a 25 year guarantee for the roof and gable ends.

%hr

%section#specs
  :markdown
    # Specifications

  %article
    :markdown
      ### Available Widths:

      - 20′
      - 24′
      - 28′
      - 32′
      - 36′
      - 40′

  %article
    :markdown
      ### Available Lengths:

      - 36′
      - 40′
      - 44′
      - 48′
      - 52′
      - 56′
      - 60′
      - 64′
      - 68′
      - 72′
      - 76′
      - 80′
      - 84′
      - 88′
      - 92′
      - 96′
      - 100′

  %article
    :markdown
      ### Available Heights:

      - 10′
      - 12′
      - 14′
      - 16′

  %article
    :markdown
      ### Included Material:

      - 6×6 pressure treated posts
      - Pressure treated 2×10 or 2×12 beams
      - Engineered roof trusses
      - 2×4 roof purlins (2′ on-center)
      - 29GA painted roof & gable metal
      - Matching painted screws
      - 80lb bag of concrete per post
      - Carriage bolts for beam/post attachment
