- content_for :head do
  %title default
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/

#main
  .section-head
    %h2 RV Enclosed Building

  %section.content
    :markdown
      The RV garage enclosed building kit was designed as the building to offer complete protection for your RV, not only from the weather but from vandals and theft as well.  The RV garage building is a step up from the basic protection from sun and rain that the basic RV garage roof kit offers.  For Arbor Wood Product’s RV garages, the kit is offered in three widths 16’, 20’ and 24’ and lengths from 36’ to 60’ all with a standard 14’ ceiling.

    %img{:src => "http://placehold.it/800x600/40663C", :alt => "alt_text"}/

    :markdown
      Arbor Wood Product’s RV buildings includes all the material to build the building style shown above, in the particular size that you order.  You will have the option to choose your metal colors from the many colors available on the chart included on our [Metal Color Options](/metal-color-options/) page.

      All kits are designed with 6×6 pressure treated posts with at least 20% of the exposed post length in the ground.  Each post is secured with 80 lbs of concrete.   All RV enclosed buildings use 2×10 beam materials.  Beams are notched into the posts and secured by carriage bolts to give the maximum strength possible.  All of our building kits use engineered roof trusses made of southern yellow pine, which meets building code requirements anywhere in the U.S.  The trusses and posts are stripped with 2×4 roof and wall purlins every 2’.  We also provide 29 ga painted metal and the matching screws, with a minimum of a 25 year guarantee for the roof, wall and gable ends.  Each RV Enclosed Building Kit comes with one 14×12 roll up door and a 3’ walk door.

    %hr

    %section#specs
      :markdown
        # Specifications

      %article
        :markdown
          ### Available Widths:

          - 16'
          - 20'
          - 24'

      %article
        :markdown
          ### Available Lengths:

          - 36'
          - 40'
          - 44'
          - 48'
          - 52'
          - 56'
          - 60'

      %article
        :markdown
          ### Available Heights:

          - 14'
          - 16'

      %article
        :markdown
          ### Included Material:

          - 6×6 pressure treated posts
          - Pressure treated 2×10 or 2×12 beams
          - Engineered roof trusses
          - 2×4 roof purlins (2' on-center)
          - 29GA painted roof & gable metal
          - Matching painted screws
          - 80lb bag of concrete per post
          - Carriage bolts for beam/post attachment
          - One 14×12 roll up door

    %ul.gallery
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/

  = partial "partials/sidebar-kit"

