- content_for :head do
  %title default
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/

#main
  .section-head
    %h2 Garage Kit

  %section.content
    :markdown
      Arbor Wood Product pole barn garage kits are available in a number of sizes, which are listed below. We have standard widths and lengths of kits prefigured for both price and material, but we can customize an enclosed garage pole barn kit in width, length or ceiling height to match your particular need.

    %img{:src => "http://placehold.it/800x600/40663C", :alt => "alt_text"}/

    :markdown
      The pole barn garage kit includes all the material to build the garage shown above, in the particular size that you order.  You will have the option to choose your metal colors from the many colors available on the chart included on our [Metal Color Options](/metal-color-options/) page.  The prices listed for the garage pole barn kits, only includes one 10 x 7 garage door, but more doors or larger doors are available as an option.

      All kits are designed with 6 x 6 pressure treated posts with at least 20% of the exposed post length in the ground. Each post is secured with 80 lbs of concrete. All enclosed pole barns use 2 x10 or 2 x12 beam materials, depending on barn width. Beams are notched into the posts and secured by carriage bolts to give the maximum strength possible. All of our building kits use engineered roof trusses, made of southern yellow pine, which meet building code requirements anywhere in the U.S. The trusses and posts are stripped with 2 x 4 roof and wall purlins every 2'. We also provide 29 ga painted metal and the matching screws, with a minimum of a 25 year guarantee, for the roof, wall and gable ends. Each garage kit comes with one 10 x 7 garage door.

    %hr

    %section#specs
      :markdown
        # Specifications

      %article
        :markdown
          ### Available Widths:

          - 20'
          - 24'
          - 30'

      %article
        :markdown
          ### Available Lengths:

          - 20'
          - 24'
          - 28'
          - 32'
          - 36'
          - 40'
          - 44'
          - 48'
          - 52'
          - 56'
          - 60'

      %article
        :markdown
          ### Available Heights:

          - 10'
          - 12'
          - 14'
          - 16'

      %article
        :markdown
          ### Included Material:

          - 6×6 pressure treated posts
          - Pressure treated 2×10 or 2×12 beams
          - Engineered roof trusses
          - 2×4 roof purlins (2' on-center)
          - 29GA painted roof & gable metal
          - Matching painted screws
          - 80lb bag of concrete per post
          - Carriage bolts for beam/post attachment
          - One 10×7 garage door

    %ul.gallery
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/
      %li
        %a{:href => "http://placehold.it/600x400", :rel => "lightbox-set", :title => "Beautiful, isn't it?"}
          %img{:src => "http://placehold.it/168x100" }/

  = partial "partials/sidebar-kit"
