- content_for :head do
  %title Barn Roof Kits | Arbor Wood Products
  %meta{:name => "description", :content => "Arbor Wood Products pole barn roof kits are available in a number of sizes, to fit any need. With our barn roof design, you can choose your metal color from the many colors available.pole barn roof kit, pole barn roof, barn roof design"}/
  %meta{:name => "keywords", :content => "pole barn roof kit, pole barn roof, barn roof design"}/


#main
  %h1 blah blah airplane
