- content_for :head do
  %title default
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/


#main

  .section-head
    %h2 Available Kits

  %ul
    %li
      %a{:href => "/available-kits/barn-roof/"} Barn Roof
    %li
      %a{:href => "/available-kits/enclosed-barn/"} Enclosed Barn
    %li
      %a{:href => "/available-kits/rv-storage-barn-roof/"} RV Storage Barn Roof
    %li
      %a{:href => "/available-kits/rv-storage-enclosed-barn/"} RV Storage Enclosed Barn
    %li
      %a{:href => "/available-kits/airplane-hanger/"} Airplane Hanger
    %li
      %a{:href => "/available-kits/horse-barn-roof/"} Horse Barn Roof
    %li
      %a{:href => "/available-kits/horse-barn-enclosed/"} Horse Barn Enclosed
    %li
      %a{:href => "/available-kits/garage/"} Garage
