- content_for :head do
  %title Available Kits | Arbor Wood Products
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => "pole barn kits, post frame kits, barn kit"}/


#main

  .section-head
    %h2 Available Kits

  %p Arbor Wood Products has several kit types available. blah blah blah blah

  %ul.kit-list
    %li
      %a{:href => "/available-kits/barn-roof/"}
        %h5 Barn Roof
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

    %li
      %a{:href => "/available-kits/enclosed-barn/"}
        %h5 Enclosed Barn
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

    %li
      %a{:href => "/available-kits/rv-storage-barn-roof/"}
        %h5 RV Storage Barn Roof
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

    %li
      %a{:href => "/available-kits/rv-storage-enclosed-barn/"}
        %h5 RV Storage Enclosed Barn
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

    %li
      %a{:href => "/available-kits/airplane-hanger/"}
        %h5 Airplane Hanger
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

    %li
      %a{:href => "/available-kits/horse-barn-roof/"}
        %h5 Horse Barn Roof
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

    %li
      %a{:href => "/available-kits/horse-barn-enclosed/"}
        %h5 Horse Barn Enclosed
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

    %li
      %a{:href => "/available-kits/garage/"}
        %h5 Garage
        %img{:src => "/cdn/40663C.gif" }/
        %p Bicycle rights high life laboris biodiesel esse sapiente. Twee laborum exercitation, odio delectus nulla dolor incididunt labore aliqua skateboard. Dreamcatcher artisan do raw denim, mustache Austin ea american apparel portland.

