!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{:content => "IE=9; IE=8; IE=EDGE; chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=yes", :name => "viewport"}/
    %title Watch it Move


    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    :javascript
      window.jQuery || document.write('<script src="js/jquery-1.7.1.js">\x3C/script>')

    %script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js")
    :javascript
      window.Modernizr || document.write('<script src="js/modernizr-2.0.6.js">\x3C/script>')


    = stylesheet_link_tag "site.css"


  %body
    #main
      = yield

