- content_for :head do
  %title Installation Manual
  %meta{:name => "description", :content => ""}/
  %meta{:name => "keywords", :content => ""}/


#main
  .section-head
    %h2 Installation Manual

  %p The Arbor Wood Products installation manual gives step by step instructions on building a pole barn. Knowing how to build a pole barn is not something that many people know how to do but most people can easily build a pole barn using Arbor Wood Products "Build a Pole Barn" Installation manual. Arbor Wood Products installation manual was specifically designed as a how to build pole barn kit or how to install pole barn kit instruction guide to be included with each Arbor Wood Products pole barn kit purchased.

  %p The How To Build a Pole Barn instruction manual describes the step by step process of installing an Arbor Wood Products pole barn kit but can also be used as an instruction manual for building a pole barn from materials you can purchase locally.

  %p The instruction manual guides the pole barn builder through each step from laying out and squaring the pole barn through installing the metal ridge cap. The manual will give instructions on how to set posts, how to build pole barn beams, how to space and set trusses on a pole barn and how to attach roof purlins on your pole barn roof.
